
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
  (click)="abrirModalAgregar()">
    Agregar Edificio
  </button>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{tituloModal}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="cerrarModalAgregar()"></button>
        </div>
        <div class="modal-body">
          <app-editar-agregar [edificio]="edificio" *ngIf="modalActivo" (evntoLista)="asignarDatosEdificios()" (eventoBuscar)="buscar(this.managementService.busqueda.trim().toLowerCase())"></app-editar-agregar>
          <ul class="list-group" *ngFor="let edificio of detalleEdificio">
            <div *ngIf="verDetalleEdificio">
                <li class="list-group-item"><strong>ID #:</strong> {{edificio.edificiosId}}</li>
                <li class="list-group-item"><strong>Edificio #:</strong> {{edificio.edificioNum}}</li>
                <li class="list-group-item"><strong>Direccion:</strong> {{edificio.edificioDireccion}}</li>
                <li class="list-group-item"><strong>Tipo:</strong> {{edificio.tipoEdif}}</li>
                <li class="list-group-item"><strong>Nivel de Calidad:</strong> {{edificio.nivelCal}}</li>
                <li class="list-group-item"><strong>Categoria:</strong> {{edificio.categor}}</li>
            </div>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <app-barra-buscar 
  (onEnter)="buscar( $event )"
  placeholder="Buscar por direccion" >
</app-barra-buscar> 

<hr>

<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="!edificios.length">
  <strong>Sin resultados </strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th>ID#</th>
        <th>Edifcio #</th>
        <th>Direccion Edificio</th>
        <th>Tipo</th>
        <th>Nivel de Calidad</th>
        <th>Categoria</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let edificio of edificios | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{edificio.edificiosId}}</td>
            <td>{{edificio.edificioNum}}</td>
            <td>{{edificio.edificioDireccion}}</td>
            <td>{{edificio.tipoEdif}}</td>
            <td>{{edificio.nivelCal}}</td>
            <td>{{edificio.categor}}</td>
            <td> 
                <button class="btn btn-primary  btn-sm mx-1" (click)="verEdificio(edificio.edificiosId)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <i class="fas fa-eye"></i></button>
                <button class="btn btn-info btn-sm mx-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                (click)="abrirModalEditar(edificio)"><i class="fas fa-pencil-alt text-light"></i></button>
                <button class="btn btn-danger  btn-sm mx-1" (click)="eliminarEdificio(edificio.edificiosId)"><i class="fas fa-trash-alt text-light"></i></button>
                 
            </td>
        </tr>
    </tbody>
  </table>
  <pagination-controls class="text-center"  previousLabel="Anterior"
  nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>

  
   